@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./mo.jpg);
  background-size: cover;
}
.container {
  width: 80%;
  margin: auto;
}

/* Header Start */
header {
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav .logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

header nav ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  transition: all .25s ease;
}
header nav ul li a:hover{
  color: #0ba2c0;
}
header nav .menu {
  display: flex;
  align-items: center;
  column-gap: 48px;
}
header nav .menu .menu-button{
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 12px 24px;
  border-radius: 48px;
  transition: all .25s ease-in;
}
header nav .menu .menu-button:hover{
  background-color: #0ba2c0;
  color: white;
}
/* Header End */

/* Setion Start */
.content{
  height: calc(100vh - 100px);
  color: wheat;
  padding-top: 150px;
}
.content h1{
  font-size: 60px;
  text-align: center;
}
.content p{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.content .links{
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 48px;
}
.content .links a{
  color: black;
  background-color: wheat;
  padding: 20px;
  width: 280px;
  text-decoration: none;
  text-align: center;
  border-radius: 56px;
  transition: all .25s ease-in;
}
.content .links a:hover{
  background-color: #0ba2c0;
  color: white;
}
/* Setion end */




/* Responsive  Start*/
@media (max-width: 576px){
  .container{
    width: 100%;
    padding: 10px 12px;
  }
  header nav .menu .menu-button{
    display: none;
  }
  header nav .menu ul{
    column-gap: 20px;
  }

  .content{
    padding-top: 50px;
  }
  .content h1{
    font-size: 30px;
  }
  .content p{
    font-size: 20px;
  }
  .content .links{
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .content .links a{
    padding: 12px;
    width: 80%;
  }
}
/* Responsive  End*/
